  /* Fonts */

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow'), local('PTSans-Narrow'),
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.eot') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.woff2') format('woff2'), /* Современные браузеры */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.woff') format('woff'), /* Старые браузеры */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-regular.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  font-display: swap; /* Прочитать за это св-во подробнее */
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-narrow-v12-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-narrow-v12-latin-cyrillic-700.svg#PTSansNarrow') format('svg'); /* Legacy iOS */
  font-display: swap;
}
 
  /* Variables */

:root {
  --basic-blue: #81B3D2;
  --grayish-blue: #669EC0;
  --dark-blue: #5496BD;
  --basic-saddleBrown: #766357;
  --basic-greybrown: #604E43;
  --basic-gray-orange: #503E33;
  --basic-black: #000000;
  --basic-black-light: #00000030;
  --basic-black-0-15: rgba(0, 0, 0, 0.15);
  --basic-black-0-2: rgba(0, 0, 0, 0.2);
  --basic-black-0-3: rgba(0, 0, 0, 0.3);
  --basic-white: #FFFFFF;
  --basic-white-100: #E5E5E5;
  --basic-white-200: #A9A9A9;
  --basic-white-300: #ABABAB;
  --basic-white-400: #CFCFCF;
  --basic-white-0-3: rgba(255, 255, 255, 0.3);
  --basic-white-0-9: rgba(255, 255, 255, 0.9);
  --basic-smoky-white: #EEEEEE;
  --basic-ghostWhite: #EBEBEB;
  --basic-darkKhaki: #666666;
  --basic-red: #FF0000;
  --basic-snow: #F2F2F2;
  --basic-silver-grey: #888888;
  --basic-light-grey: #BDBBBC;
  --basic-dull-grey: #666666;
  --basic-dull-grey-100: #6A6A6A;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* Global */

.page {
  min-height: auto;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start; /* Выравнивание контента к верху */
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
}

.page-body-hotels {
  min-height: auto;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.container-shadow {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  box-shadow: 0 5px 15px var(--basic-black-0-2);
}

  /*  Navigation */

.main-header-logo {
  position: absolute;
  text-align: center;
  width: 138px;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

.header-logo-link {
  width: 138px;
  height: 70px;
}

.header-logo-link:focus img {
  opacity: 0.8;
  z-index: 999;
  outline: 2px solid var(--basic-black);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  max-width: 1054px;
  margin: auto 72px;
  padding: 0;
  min-height: 56px;
  list-style: none;
  align-items: center;
}

.site-navigation li {
  width: 226px;
}

.site-navigation li:nth-child(4n+1) {
  text-align: start;
}

.site-navigation li:nth-child(4n-2) {
  text-align: start;
}

.site-navigation li:nth-child(4n+3) {
  margin-left: 150px;
  text-align: end;
}

.site-navigation li:nth-child(4n+4) {
  text-align: end;
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black-light);
} 

.site-navigation .active {
  pointer-events: none;
  cursor: default;
  color: var(--basic-saddleBrown);
}

  /* Main-features */

.bg-img {
  background-image: url("../img/shape-1.png"),
                    url("../img/bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--dark-blue);
  width: 1200px;
  height: 509px;
  margin: 0 auto;
  position: relative;
}

.bg-img::before {
  content: "";
  background-image: url("../img/welcome.svg"),
                    url("../img/gorgeous.svg"),
                    url("../img/sedona.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 1200px;
  height: 509px;
  background-position: 506px 77px, 472px 133px, 372px 78px;
}

.welcome-title {
  color: var(--basic-black);
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  width: 470px;
  margin: auto;
  margin-top: 43px;
}

.desc-features-list {
  color: var(--basic-black);
  text-align: center;
  font-weight: normal;
  line-height: 26px;
  margin: auto;
  margin-top: 43px;
  margin-bottom: 51px;
}

.features-item-town,
.features-item-bridge {
  display: grid;
  position: relative;
  background-color: var(--basic-blue);
  font-weight: normal;
  text-align: center;
  max-width: 400px;
  margin: 0;
  padding: 0;
}

.features-item-town {
  padding-top: 47px;
  padding-bottom: 54px;
}

.features-item-town::before {
  content: "";
  background-image: url("../img/image-side.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 800px;
  height: 256px;
  left: 400px;
  bottom: 0;
}

.features-item-bridge {
  padding-top: 50px;
  padding-bottom: 51px;
  margin-left: auto;
}

.features-item-bridge::after {
  content: "";
  background-image: url("../img/image-bridge.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 800px;
  height: 256px;
  right: 400px;
  bottom: 0;
}

.features-item-town p,
.features-item-bridge p {
  line-height: 21px;
  margin: 0;
  margin-top: 23px;
}

.features-item-town h3,
.features-item-bridge h3 {
  line-height: 21px;
  font-size: 21px;
  margin: 0;
  margin-bottom: 25px;
}

.features-sublist-list,
.features-sublist-list-2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.features-sublist-list li {
  width: 400px;
  padding-top: 160px;
  padding-bottom: 82px;
}

.features-desc {
  font-weight: normal;
  color: var(--basic-black);
  line-height: 21px;
  margin: 0;
  margin-top: 25px;
}

.features-title {
  position: relative;
  font-size: 21px;
  color: var(--basic-black);
  line-height: 21px;
  margin: 0;
}

.house-feature-title::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  left: 162px;
  bottom: 48px;
}

.food-feature-title::before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
  left: 164px;
  bottom: 48px;
}

.souvenirs-feature-title::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  background-image: url("../img/icon-souvenirs.svg");
  background-repeat: no-repeat;
  left: 167px;
  bottom: 48px;
}

.features-sublist-list-2 li {
  width: 400px;
  padding-top: 45px;
  padding-bottom: 50px;
  background-color: var(--basic-smoky-white);
  color: var(--basic-black);
  font-weight: normal;
}

.features-2-title {
  font-size: 21px;
  line-height: 21px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.features-2-desc {
  margin: 0 auto;
  margin-top: 23px;
  line-height: 21px;
}

.features-sublist {
  background-color: var(--basic-white); 
}

.wrapper-hotel-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 61px;
  margin-bottom: 45px;
}

.wrapper-hotel-desc span {
  font-size: 30px;
  color: var(--basic-black);
  line-height: 24px;
  margin-bottom: 30px;
}

.wrapper-hotel-desc p {
  font-weight: normal;
  color: var(--basic-black);
  line-height: 24px;
  text-align: center;
  margin: 0;
}

/*  Hotels */

.catalog-sorting-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 73px 27px 73px;
}

.catalog-hotels-desc {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 32px;
}

.catalog-sorting {
  color: var(--basic-black);
  font-size: 12px;
  font-weight: normal;
  line-height: 32px;
  margin-left: 46px;
}

.catalog-sorting-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 650px;
  padding: 0;
  margin: 0;
  margin-left: 40px;
}

.catalog-sorting-item li:nth-child(even) {
  margin-right: 32px;
}

.catalog-sorting-item li:nth-child(odd) {
  margin-right: 33px;
}

.catalog-sorting-item a {
  color: var(--basic-black-0-3);
  font-size: 12px;
  font-weight: normal;
  line-height: 32px;
  border-bottom: 2px dotted var(--basic-blue);
}

.catalog-sorting-item a:hover {
  color: var(--basic-blue);
}

.catalog-sorting-item a:active {
  color: var(--basic-black);
  border: none;
}

.catalog-sorting-item .current {
  color: var(--basic-blue);
  border: none;
}

.arrow-wrapper {
  margin-top: 8px;
  margin-left: auto;
}

.arrow-wrapper a:first-child {
  margin-right: 8px;
}

.arrow:hover path {
  fill: var(--basic-black);
}

.arrow:active path {
  fill: var(--basic-blue);
}

.arrow-2 path {
  fill: var(--basic-blue);
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-item {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 73px;
  border-top: 1px solid var(--basic-white-100);
}

.hotel-item:nth-child(2) {
  padding-bottom: 28px;
}

.hotels-list li:nth-last-child(1) {
  border-bottom: 1px solid var(--basic-white-100);
} 

.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 30px;
}

.hotel-title {
  color: var(--basic-black);
  margin: 0;
  line-height: 14px;
}

.hotel-title-link:hover .hotel-title {
  color: var(--basic-blue);
}

.hotel-title-link:active .hotel-title {
  opacity: 0.3;
}

.hotel-type-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 13px;
}

.hotel-type {
  display: flex;
  flex-wrap: wrap;
  width: 102px;
  font-weight: normal;
  color: var(--basic-black);
  line-height: 21px;
  margin-right: 14px;
}

.button-wrapper {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-gap: 6px;
  margin-top: 16px;
}

.hotel-detailed {
  color: var(--basic-white);
  line-height: 28px;
  background-color: var(--basic-blue);
  padding-left: 17px;
  padding-right: 16px;
}

.hotel-reserve {
  color: var(--basic-white);
  line-height: 28px;
  background-color: var(--basic-saddleBrown);
  padding-left: 17px;
  padding-right: 16px;
}

.hotel-detailed:hover {
  background-color: var(--grayish-blue);
}

.hotel-detailed:active {
  background-color: var(--dark-blue);
  color: var(--basic-white-0-3);
}

.hotel-reserve:hover {
  background-color: var(--basic-greybrown);
}

.hotel-reserve:active {
  background-color: var(--basic-gray-orange);
  color: var(--basic-white-0-3);
}

.rating-wrapper {
  display: grid;
  margin-left: auto;
}

.rating-value {
  background-color: var(--basic-snow);
  color: var(--basic-dull-grey);
  font-weight: normal;
  line-height: 21px;
  margin-top: 47px;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.rating-star {
  background-image: url("../img/icons/star.png");
  width: 18px;
  height: 17px;
  background-size: cover;
  margin-left: auto;
}

.rating-star.four {
  width: 92px;
}

.rating-star.three {
  width: 67px;
}

.rating-star.two {
  width: 41px;
}

  /* Footer */

.footer-wrapper-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 120px;
  background: var(--basic-white-0-9);
  padding-left: 100px;
  padding-right: 138px;
}

.footer-wrapper-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  padding-left: 100px;
  padding-right: 138px;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 275px;
  margin-right: auto;
}

.contacts a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.contacts a:nth-of-type(1) {
  margin-bottom: 10px;
}

.contacts a:nth-of-type(2) {
  margin-bottom: 15px;
}

.contacts a:hover {
  color: var(--basic-blue);
}

.contacts a:active {
  color: var(--basic-black-light);
}

.social {
  margin-right: 38px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list li:nth-child(1) {
  margin-right: 6px;
}

.social-list li:nth-child(2n) {
  margin-right: 6px;
}

.social-list li:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center; /* Иконки по заданным размерам */
}

.social-link:hover {
  background-color: var(--grayish-blue);
}

.social-link:active {
  background-color: var(--dark-blue);
}

.social-link:active img {
  opacity: 0.3;
}

.logo-author {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
}

.logo-author p {
  color: var(--basic-black);
  font-weight: normal;
  margin-right: 8px;
}

.logo-author-link {
  margin-top: 5px;
}

.logo-author-link:hover path {
  fill: var(--basic-blue);
}

.logo-author-link:active path {
  fill: var(--basic-light-grey);
}

  /* Forms */

.hotel-search-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 568px;
  min-height: 86px;
  background-color: var(--basic-saddleBrown);
  font-family: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: auto;
  border: none;
  color: var(--basic-white);
  text-transform: inherit;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  cursor: pointer;
}

.hotels-search {
  position: relative;
}

.hotels-search-form-close {
  display: none;
  -webkit-animation: animation-form 0.8s;
          animation: animation-form 0.8s;
}

.hotel-search-button:hover {
  background-color: var(--basic-greybrown);
}

.hotel-search-button:active {
  background-color: var(--basic-gray-orange);
  color: var(--basic-white-0-3);
}

.hotels-search-form {
  position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
  width: 568px;
  min-height: 395px;
  margin: auto;
  padding: 55px;
  box-sizing: border-box;
  background-color: var(--basic-white);
  box-shadow: 0 7px 15px 0 var(--basic-black-0-15);
  -webkit-animation: animation-form 0.9s;
          animation: animation-form 0.9s;
}

.hotels-search-time,
.hotels-search-people {
  padding: 0;
  border: 0;
  margin: 0;
  font-weight: bold;
  color: var(--basic-black);
}

.hotels-search-time .hotels-search-field {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
  margin-bottom: 29px;
}

.hotels-search-field label {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.hotels-search-field input {
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: bold;
  background-color: var(--basic-snow);
}

.hotels-search-field input:hover {
  background-color: var(--basic-ghostWhite);
}

.hotels-search-field input:focus {
  background-color: var(--basic-white);
  box-shadow: inset 0 0 0 2px var(--basic-ghostWhite);
}

.hotels-search-field input[type="text"] {
  width: 346px;
  height: 38px;
  padding: 0 43px 0 13px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.hotels-search-field svg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 9px;
  margin: auto;
  fill: var(--basic-white-200);
  cursor: pointer;
}

.hotels-search-field svg:hover {
  fill: var(--basic-black);
}

.hotels-search-field svg:active {
  fill: var(--basic-blue);
}

.hotels-search-people .hotels-search-field {
  display: inline-flex;
  margin: 0;
  margin-bottom: 54px;
}

.hotels-search-people .hotels-search-field:nth-of-type(1) {
  width: 226px;
  float: left;
}

.hotels-search-people .hotels-search-field:nth-of-type(2) {
  width: 179px;
  float: right;
}

.hotels-search-people label {
  margin-right: auto;
}

.button-minus,
.button-plus {
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--basic-snow);
  cursor: pointer;
}

.button-minus:hover::after,
.button-plus:hover::after,
.button-plus:hover::before {
  background-color: var(--basic-black);
}

.button-minus:active::after,
.button-plus:active::after,
.button-plus:active::before {
  background-color: var(--basic-blue);
}

.button-minus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 12px;
  height: 3px;
  background-color: var(--basic-white-200);
}

.button-plus::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 3px;
  transform: rotate(90deg);
  background-color: var(--basic-white-200);
}

.button-plus::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 3px;
  background-color: var(--basic-white-200);
}

.hotels-search-field input[type="number"] {
  display: block;
  width: 38px;
  height: 38px;
  text-align: center;
  -moz-appearance: textfield;
}

.hotels-search-field input[type=number]::-webkit-inner-spin-button,
.hotels-search-field input[type=number]::-webkit-outer-spin-button,
.price-controls input[type=number]::-webkit-inner-spin-button,
.price-controls input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hotels-search-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  width: 100%;
  min-height: 38px;
  padding: 17px;
  font-weight: bold;
  font-size: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-blue);
  cursor: pointer;
}

.hotels-search-button:hover {
  background-color: var(--grayish-blue);
}

.hotels-search-button:focus {
  background-color: var(--grayish-blue);
}

.hotels-search-button:active {
  background-color: var(--dark-blue);
  color: var(--basic-white-0-3);
}

  /* Map */

.map-route {
	width: 100%;
	height: 594px;
}

.map-route img {
  position: absolute;
  top: 0;
	left: 0;
}

.map-route iframe {
  position: absolute;
  top: 0;
	left: 0;
}

  /* Filter form*/

.form-bg {
  background-image: url("../img/form-bg.jpg");
  background-color: var(--dark-blue);
  background-size: cover;
  width: 1200px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  padding-top: 26px;
  padding-left: 72px;
  padding-right: 73px;
  padding-bottom: 31px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.filter fieldset:nth-child(2) {
  margin-left: 127px;
}

.filter fieldset:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 317px;
  margin-left: auto;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}

.filter li {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter li:last-child {
  margin-bottom: 0;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 24px;
}

.filter .range-title {
  margin-bottom: 11px;
}

.filter label {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/checkbox.svg");
  width: 23px;
  height: 23px;
  left: -40px;
  top: 0;
}

.input-checkbox:checked + label::before {
  background-image: url("../img/icons/checkboxon.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.input-checkbox:focus + label::before {
  outline: 2px solid var(--basic-black);
}

.input-checkbox:disabled + label::before {
  background-image: url("../img/icons/checkboxdis.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
}

.price-controls {
  display: flex;
  position: relative;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  top: 5px;
  left: 50%;
}

.price-controls label {
  display: flex;
  margin-left: 66px;
  line-height: 21px;
  padding-top: 4px;
  padding-bottom: 6px;
}

.price-controls input {
  width: 60px;
  color: inherit;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  -moz-appearance: textfield;
}

.range-controls {
  position: relative;
  width: 317px;
  margin-top: 21px;
}

.range-controls .scale {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;
  width: 100%;
}

.range-controls .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-white-300);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-white-400);
  cursor: pointer;
}

.toggle:hover {
  top: -11px;
  border: 10px solid var(--basic-white);
}

.range-controls .toggle-max {
  left: 252px;
}

.button-range-filter {
  width: 137px;
  height: 36px;
  text-transform: inherit;
  background: transparent;
  color: inherit;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  margin-top: 35px;
  margin-left: 85px;
  cursor: pointer;
}

.button-range-filter:hover {
  background: var(--basic-white);
  color: var(--basic-black);
}

  /* Animations */

@keyframes animation-form {
  10% {
    transform: translateY(10px);
}

  100% {
    transform: translateY(1px);
  }
}